.marcherCard {
    display: flex;
    flex-wrap: wrap;
}
.marcherItem{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    margin: 2.5%;
    border: 1px solid black ;
    border-radius: 20%;
    text-align: center;
    box-shadow: 8px 8px 8px -7px #9a9a9a;
    background: #f1f1f1;
    transition: 0.5s;
    animation: up 2s forwards;
    animation-fill-mode: both;
}
.marcherItem:hover{
    box-shadow: 12px 12px 12px -7px red;
}
.marcherItem em{
    font-weight: bold;
    font-size: 1.25rem;
}


@keyframes up {
    from {
      transform: translateY(25px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }