.cardBlack {
  background: black;
  color: #fff;
  font-size: 2.5rem;
  height: 100px;
  text-align: center;
}

.cardBlack p {
  margin: 0;
  padding-top: 30px;
}

.imgActivite {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  width: 100%;
}

.txt {
    display: flex;
    height: 450px;
    text-align: center;
    background: yellowgreen;
    padding-top: 10%;
    z-index: 1;
    border-radius: 20% 20% 0px 0px;
    margin-top: -6%;
  }
  #event{
    background: aquamarine;
  }
  .txt h3 {
    font-size: 1.5rem;
  }
  .alerte {
    font-size: 1.2rem;
    color: red;
  }